* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  background-color: #000;
}

.r3f-canvas {
  width: 50vw;
  height: 100vh;
  margin-left: 50vw;
}

#bvc-image {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 512px;
  height: 512px;
}